@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,300italic,300);
/*-----------RESET STYLES------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, p {
  text-decoration: none;
}

a, button, i, input {
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

ul {
  list-style: none;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  line-height: 1em;
}

/*--------END RESET STYLES------------ */
/*---------RESET BOOTSTRAP STYLES----- */
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin: 0;
}

/*-----END RESET BOOTSTRAP STYLES----- */
/*------------WELCOME STYLES---------- */
/*------------HEADER STYLES----------- */
.welcome {
  padding: 150px 0;
  background: #367efe;
}
.welcome .navbar-inverse {
  background: transparent;
  border: none;
}
.welcome .navbar-inverse .header {
  display: flex;
  justify-content: flex-end;
}
.welcome .navbar-inverse .header .navbar-toggle {
  display: block;
  border: none;
}
.welcome .navbar-inverse .header .navbar-toggle:hover {
  background: none;
}
.welcome h1 {
  text-align: center;
}

/*---------END HEADER STYLES---------- */
.jumbotron {
  margin-bottom: 0;
  padding: 35px 0 0 0;
  background: transparent;
}
.jumbotron h2 {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
  font: 900 50px "Lato", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.jumbotron p {
  max-width: 765px;
  margin: 0 auto;
  padding-bottom: 60px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  text-transform: uppercase;
  color: #fff;
}
.jumbotron .button {
  text-align: center;
}
.jumbotron .button .btn-lg {
  padding: 12px 50px;
  font: 700 16px "Lato", sans-serif;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  color: #367efe;
  background: #fff;
}
.jumbotron .button .btn-lg:hover {
  background: transparent;
  color: #fff;
}
.jumbotron .hvr-float-shadow:before {
  background: radial-gradient(ellipse at center, #ffffff 0%, rgba(0, 0, 0, 0) 80%);
}

/*---------END WELCOME STYLES--------- */
/*-----------ABOUT-ME STYLES---------- */
.page-header {
  margin: 0;
  text-align: center;
  border: none;
}
.page-header h3 {
  margin-bottom: 60px;
  font: 300 50px "Lato", sans-serif;
  color: #3677fd;
}

.about-me {
  padding: 90px 0;
}
.about-me p {
  margin: 0 auto;
  max-width: 1040px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  color: #5a5a5a;
}

/*---------END ABOUT-ME STYLES-------- */
@media (min-width: 768px) and (max-width: 991px) {
  /*------------WELCOME STYLES---------- */
  .welcome {
    padding: 100px 0;
  }

  .jumbotron h2 {
    font-size: 45px;
  }
  .jumbotron p {
    padding-bottom: 50px;
    font-size: 15px;
    line-height: 30px;
  }

  /*---------END WELCOME STYLES--------- */
  /*-----------ABOUT-ME STYLES---------- */
  .page-header h3 {
    margin-bottom: 45px;
  }

  .about-me {
    padding: 70px 0;
  }

  /*---------END ABOUT-ME STYLES-------- */
}
@media (max-width: 767px) {
  /*------------WELCOME STYLES---------- */
  .welcome {
    padding: 80px 0;
  }

  .jumbotron h2 {
    font-size: 35px;
  }
  .jumbotron p {
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 25px;
  }
  .jumbotron .button .btn-lg {
    font-size: 14px;
  }

  /*---------END WELCOME STYLES--------- */
  /*-----------ABOUT-ME STYLES---------- */
  .page-header h3 {
    margin-bottom: 35px;
    font: 300 47px "Lato", sans-serif;
  }

  .about-me {
    padding: 60px 0;
  }
  .about-me p {
    font-size: 13px;
    line-height: 27px;
  }

  /*---------END ABOUT-ME STYLES-------- */
}
