@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,300italic,300);
/*-----------RESET STYLES------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, p {
  text-decoration: none;
}

a, button, i, input {
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

ul {
  list-style: none;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  line-height: 1em;
}

/*--------END RESET STYLES------------ */
/*---------RESET BOOTSTRAP STYLES----- */
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin: 0;
}

/*-----END RESET BOOTSTRAP STYLES----- */
/*------------WELCOME STYLES---------- */
/*------------HEADER STYLES----------- */
.welcome {
  overflow: hidden;
  position: relative;
  padding: 150px 0;
  background: #367efe;
}
.welcome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1689px;
  height: 872px;
  background: url("../../images/welcome-bg.png") no-repeat;
}
.welcome .navbar-inverse {
  background: transparent;
  border: none;
}
.welcome .navbar-inverse .header {
  display: flex;
  justify-content: flex-end;
}
.welcome .navbar-inverse .header .navbar-toggle {
  display: block;
  border: 1px solid transparent;
  margin-top: 20px;
}
.welcome .navbar-inverse .header .navbar-toggle:hover, .welcome .navbar-inverse .header .navbar-toggle:focus {
  background: none;
  border: 1px solid #fff;
}
.welcome h1 {
  text-align: center;
}
.welcome .arrow::before {
  content: "";
  position: absolute;
  bottom: 20px;
  right: 50%;
  margin-right: -9px;
  width: 19px;
  height: 32px;
  background: url("../../images/arrow-down.png") no-repeat;
}
.welcome .navbar-fixed-top {
  top: 75px;
  z-index: 99;
}

/*---------END HEADER STYLES---------- */
.jumbotron {
  margin-bottom: 0;
  padding: 35px 0 0 0;
  background: transparent;
}
.jumbotron h2 {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
  font: 900 50px "Lato", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.jumbotron p {
  max-width: 765px;
  margin: 0 auto;
  padding-bottom: 60px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  text-transform: uppercase;
  color: #fff;
}

/*---------END WELCOME STYLES--------- */
/*-----BUTTON, PAGE-HEADER STYLES----- */
.button {
  text-align: center;
}
.button .btn-lg {
  padding: 12px 50px;
  font: 700 16px "Lato", sans-serif;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  color: #367efe;
  background: #fff;
}
.button .btn-lg:hover {
  background: transparent;
  color: #fff;
}
.button .hvr-float-shadow:before {
  background: radial-gradient(ellipse at center, #ffffff 0%, rgba(0, 0, 0, 0) 80%);
}

.page-header {
  margin: 0;
  text-align: center;
  border: none;
}
.page-header h3 {
  margin-bottom: 60px;
  font: 300 50px "Lato", sans-serif;
  color: #3677fd;
}

/*--END BUTTON, PAGE-HEADER STYLES---- */
/*-----------ABOUT-ME STYLES---------- */
.about-me {
  padding: 90px 0;
}
.about-me p {
  margin: 0 auto;
  max-width: 1040px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  color: #5a5a5a;
}

/*---------END ABOUT-ME STYLES-------- */
/*------------EXPERT STYLES----------- */
.expert {
  padding: 80px 0 20px 0;
  background: #f1f8ff;
}
.expert .expert-list {
  text-align: center;
}
.expert .expert-list li {
  margin-bottom: 60px;
  padding: 0 15px;
}
.expert .expert-list li h4 {
  margin-bottom: 30px;
  padding-top: 50px;
  font: 700 23px "Lato", sans-serif;
  text-transform: uppercase;
  color: #3677fd;
}
.expert .expert-list li p {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 35px;
  color: #5a5a5a;
}

.expert-list li .for-border {
  position: relative;
  margin: 0 auto;
  width: 142px;
  height: 142px;
  border: 1px solid #5a5a5a;
  border-radius: 50%;
}
.expert-list li .mobile::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -33px;
  right: 50%;
  margin-right: -22px;
  width: 45px;
  height: 66px;
  background: url("../../images/mobile-icon.png") no-repeat;
}
.expert-list li .web-design::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -29px;
  right: 50%;
  margin-right: -36px;
  width: 72px;
  height: 58px;
  background: url("../../images/design-icon.png") no-repeat;
}
.expert-list li .development::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -33px;
  right: 50%;
  margin-right: -29px;
  width: 58px;
  height: 66px;
  background: url("../../images/development-icon.png") no-repeat;
}
.expert-list li .product::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -33px;
  right: 50%;
  margin-right: -35px;
  width: 71px;
  height: 67px;
  background: url("../../images/product-icon.png") no-repeat;
}
.expert-list li .ux-ui::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -31px;
  right: 50%;
  margin-right: -31px;
  width: 63px;
  height: 63px;
  background: url("../../images/ux-icon.png") no-repeat;
}
.expert-list li .animations::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -32px;
  right: 50%;
  margin-right: -39px;
  width: 78px;
  height: 65px;
  background: url("../../images/animation-icon.png") no-repeat;
}

/*---------END EXPERT STYLES---------- */
/*---------LATEST-WORKS STYLES-------- */
.latest-works {
  padding: 90px 0;
}
.latest-works .works-list li {
  margin-bottom: 30px;
}
.latest-works .works-list li .img-wrap {
  padding: 30px 15px 0 15px;
  background: #f4f4f4;
}
.latest-works .works-list li .odds {
  height: 271px;
  padding-top: 50px;
}

/*------END LATEST-WORKS STYLE------- */
/*----------CLIENTS STYLES----------- */
.clients {
  padding: 80px 0;
  background: #f1f8ff;
}
.clients li {
  margin-bottom: 30px;
}

/*-------END CLIENTS STYLES---------- */
/*--------COOPERATION STYLES--------- */
.cooperation {
  overflow: hidden;
  position: relative;
  padding: 80px 0;
  background: #367efe;
}
.cooperation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 1567px;
  height: 247px;
  background: url("../../images/cooperation-bg.png") no-repeat;
}
.cooperation p {
  font: 300 50px "Lato", sans-serif;
  color: #fff;
}
.cooperation p span {
  font-weight: 700;
}

/*------END COOPERATION STYLES-------- */
/*----------AGREEMENT STYLES---------- */
.agreement {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  width: 100%;
  background: #194277;
}
.agreement p {
  font: 400 14px "Lato", sans-serif;
  color: #fff;
}
.agreement .button .btn-lg {
  padding: 10px 40px;
  font: 700 12px "Lato", sans-serif;
  text-transform: none;
}

/*-------END AGREEMENT STYLES---------- */
/*------------MODAL STYLES------------- */
.media-list {
  margin-top: 50px;
  padding-bottom: 50px;
}
.media-list li {
  position: relative;
  margin-right: 20px;
}
.media-list li:last-child {
  margin-right: 0;
}
.media-list li a {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #d2d2d2;
}

.media-list .facebook a::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 50%;
  margin-left: -7px;
  width: 14px;
  height: 30px;
  background: url("../../images/facebook-icon.png") no-repeat;
}
.media-list .facebook a:hover {
  background: #3b5998;
}
.media-list .twitter a::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 50%;
  margin-left: -15px;
  width: 31px;
  height: 24px;
  background: url("../../images/twitter-icon.png") no-repeat;
}
.media-list .twitter a:hover {
  background: #55acee;
}
.media-list .social a::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: 50%;
  margin-left: -13px;
  width: 26px;
  height: 26px;
  background: url("../../images/social-icon.png") no-repeat;
}
.media-list .social a:hover {
  background: #cc2127;
}
.media-list .be a::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 21px;
  background: url("../../images/be-icon.png") no-repeat;
}
.media-list .be a:hover {
  background: #dd4b39;
}

.fade {
  opacity: 1;
}
.fade .modal-dialog {
  width: 1170px;
  margin: 90px auto;
}
.fade .modal-dialog .modal-body .nav-list {
  position: relative;
}
.fade .modal-dialog .modal-body .nav-list li {
  margin-bottom: 50px;
}
.fade .modal-dialog .modal-body .nav-list li a {
  font: 300 50px "Lato", sans-serif;
  text-decoration: none;
  color: #d2d2d2;
}
.fade .modal-dialog .modal-body .nav-list li a:hover {
  color: #367efe;
}
.fade .modal-dialog .modal-body .nav-list::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-right: -160px;
  width: 330px;
  height: 2px;
  background: #d2d2d2;
}
.fade .modal-dialog .modal-header {
  border: none;
}
.fade .modal-dialog .modal-header .close {
  padding-right: 15px;
  font-size: 40px;
  font-weight: 100;
  outline: none;
}
.fade .modal-dialog .modal-footer {
  border-top: none;
}

/*---------END MODAL STYLES----------- */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }

  /*--------COOPERATION STYLES--------- */
  .cooperation p {
    font-size: 43px;
  }
  .cooperation .button .btn-lg {
    padding: 13px 40px;
  }

  /*------END COOPERATION STYLES-------- */
  /*------------MODAL STYLES------------ */
  .fade {
    opacity: 1;
  }
  .fade .modal-dialog {
    width: 900px;
    margin: 90px auto;
  }

  /*---------END MODAL STYLES----------- */
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }

  /*------------WELCOME STYLES---------- */
  .welcome {
    padding: 100px 0;
  }

  .jumbotron h2 {
    font-size: 45px;
  }
  .jumbotron p {
    padding-bottom: 50px;
    font-size: 15px;
    line-height: 30px;
  }

  /*---------END WELCOME STYLES--------- */
  /*-----------ABOUT-ME STYLES---------- */
  .page-header h3 {
    margin-bottom: 45px;
  }

  .about-me {
    padding: 70px 0;
  }

  /*---------END ABOUT-ME STYLES-------- */
  /*------------EXPERT STYLES----------- */
  .expert .expert-list li p {
    font-size: 14px;
  }

  /*---------END EXPERT STYLES---------- */
  /*---------COOPERATION STYLES--------- */
  .cooperation p {
    font-size: 32px;
  }
  .cooperation .button .btn-lg {
    padding: 10px 23px;
    font-size: 13px;
  }

  /*--------END COOPERATION STYLES-------- */
  /*------------MODAL STYLES------------ */
  .media-list li a {
    width: 45px;
    height: 45px;
  }

  .fade .modal-dialog {
    width: 700px;
  }
  .fade .modal-dialog .modal-body .nav-list li {
    margin-bottom: 30px;
  }
  .fade .modal-dialog .modal-body .nav-list li a {
    font-size: 35px;
  }
  .fade .modal-dialog .modal-body .nav-list::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-right: -140px;
    width: 280px;
  }

  /*---------END MODAL STYLES----------- */
}
@media (max-width: 767px) {
  /*------------WELCOME STYLES---------- */
  .welcome {
    padding: 80px 0;
  }

  .jumbotron h2 {
    font-size: 35px;
  }
  .jumbotron p {
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 25px;
  }
  .jumbotron .button .btn-lg {
    font-size: 14px;
  }

  /*---------END WELCOME STYLES--------- */
  /*-----------ABOUT-ME STYLES---------- */
  .page-header h3 {
    margin-bottom: 35px;
    font: 300 47px "Lato", sans-serif;
  }

  .about-me {
    padding: 60px 0;
  }
  .about-me p {
    font-size: 13px;
    line-height: 27px;
  }

  /*---------END ABOUT-ME STYLES-------- */
  /*------------EXPERT STYLES----------- */
  .expert {
    padding-top: 50px;
  }
  .expert .expert-list li {
    margin-bottom: 40px;
  }
  .expert .expert-list li h4 {
    margin-bottom: 25px;
    padding-top: 50px;
    font-size: 21px;
  }
  .expert .expert-list li p {
    font-size: 14px;
    line-height: 30px;
  }

  /*---------END EXPERT STYLES---------- */
  /*---------LATEST-WORKS STYLES-------- */
  .latest-works {
    padding: 50px 0;
  }
  .latest-works .works-list li {
    padding: 0;
  }

  /*------END LATEST-WORKS STYLE-------- */
  /*--------COOPERATION STYLES--------- */
  .cooperation {
    padding: 50px 0;
  }
  .cooperation p {
    margin-bottom: 20px;
    font-size: 27px;
  }
  .cooperation .button .btn-lg {
    padding: 12px 40px;
    font-size: 14px;
  }

  /*------END COOPERATION STYLES-------- */
  /*----------AGREEMENT STYLES---------- */
  .agreement {
    padding: 15px 0;
  }
  .agreement p {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .agreement .button .btn-lg {
    padding: 5px 30px;
    font-size: 10px;
  }

  /*-------END AGREEMENT STYLES---------- */
  /*------------MODAL STYLES------------ */
  .media-list {
    margin-top: 25px;
  }
  .media-list li {
    margin-right: 10px;
  }
  .media-list li a {
    width: 45px;
    height: 45px;
  }

  .fade .modal-dialog {
    width: 300px;
  }
  .fade .modal-dialog .modal-body .nav-list li {
    margin-bottom: 25px;
  }
  .fade .modal-dialog .modal-body .nav-list li a {
    font-size: 35px;
  }
  .fade .modal-dialog .modal-body .nav-list::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-right: -100px;
    width: 200px;
  }

  /*---------END MODAL STYLES----------- */
}
