@media (min-width: 768px) and (max-width: 991px)

  .container
    width: 750px

  /*------------WELCOME STYLES----------*/
  .welcome
    padding: 100px 0

  .jumbotron
    h2
      font-size: 45px
    p
      padding-bottom: 50px
      font-size: 15px
      line-height: 30px
  /*---------END WELCOME STYLES---------*/

  /*-----------ABOUT-ME STYLES----------*/
  .page-header
    h3
      margin-bottom: 45px

  .about-me
    padding: 70px 0
  /*---------END ABOUT-ME STYLES--------*/

  /*------------EXPERT STYLES-----------*/
  .expert
    .expert-list
      li
        p
          font-size: 14px
  /*---------END EXPERT STYLES----------*/

  /*---------COOPERATION STYLES---------*/
  .cooperation
    p
      font-size: 32px
    .button
      .btn-lg
        padding: 10px 23px
        font-size: 13px
  /*--------END COOPERATION STYLES--------*/

  /*------------MODAL STYLES------------*/
  .media-list
    li
      a
        width: 45px
        height: 45px

  .fade
    .modal-dialog
      width: 700px
      .modal-body
        .nav-list
          li
            margin-bottom: 30px
            a
              font-size: 35px
          &::before
            content: ''
            position: absolute
            bottom: 0
            right: 50%
            margin-right: -140px
            width: 280px
  /*---------END MODAL STYLES-----------*/



