@media (max-width: 767px)

  /*------------WELCOME STYLES----------*/
  .welcome
    padding: 80px 0

  .jumbotron
    h2
      font-size: 35px
    p
      padding-bottom: 40px
      font-size: 14px
      line-height: 25px
    .button
      .btn-lg
        font-size: 14px
  /*---------END WELCOME STYLES---------*/

  /*-----------ABOUT-ME STYLES----------*/
  .page-header
    h3
      margin-bottom: 35px
      font: 300 47px 'Lato', sans-serif

  .about-me
    padding: 60px 0
    p
      font-size: 13px
      line-height: 27px
  /*---------END ABOUT-ME STYLES--------*/

  /*------------EXPERT STYLES-----------*/
  .expert
    padding-top: 50px
    .expert-list
      li
        margin-bottom: 40px
        h4
          margin-bottom: 25px
          padding-top: 50px
          font-size: 21px
        p
          font-size: 14px
          line-height: 30px
  /*---------END EXPERT STYLES----------*/

  /*---------LATEST-WORKS STYLES--------*/
  .latest-works
    padding: 50px 0
    .works-list
      li
        padding: 0
  /*------END LATEST-WORKS STYLE--------*/

  /*--------COOPERATION STYLES---------*/
  .cooperation
    padding: 50px 0
    p
      margin-bottom: 20px
      font-size: 27px
    .button
      .btn-lg
        padding: 12px 40px
        font-size: 14px
  /*------END COOPERATION STYLES--------*/

  /*----------AGREEMENT STYLES----------*/
  .agreement
    padding: 15px 0
    p
      margin-bottom: 10px
      font-size: 12px
    .button
      .btn-lg
        padding: 5px 30px
        font-size: 10px
  /*-------END AGREEMENT STYLES----------*/

  /*------------MODAL STYLES------------*/
  .media-list
    margin-top: 25px
    li
      margin-right: 10px
      a
        width: 45px
        height: 45px

  .fade
    .modal-dialog
      width: 300px
      .modal-body
        .nav-list
          li
            margin-bottom: 25px
            a
              font-size: 35px
          &::before
            content: ''
            position: absolute
            bottom: 0
            right: 50%
            margin-right: -100px
            width: 200px
  /*---------END MODAL STYLES-----------*/
