@media (max-width: 767px)

  /*------------WELCOME STYLES----------*/
  .welcome
    padding: 80px 0

  .jumbotron
    h2
      font-size: 35px
    p
      padding-bottom: 40px
      font-size: 14px
      line-height: 25px
    .button
      .btn-lg
        font-size: 14px
  /*---------END WELCOME STYLES---------*/

  /*-----------ABOUT-ME STYLES----------*/
  .page-header
    h3
      margin-bottom: 35px
      font: 300 47px 'Lato', sans-serif

  .about-me
    padding: 60px 0
    p
      font-size: 13px
      line-height: 27px
  /*---------END ABOUT-ME STYLES--------*/