@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700)
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,300italic,300)
@import compass
@import variables
@import compass/css3
@import compass/layout
@import compass/typography
@import compass/utilities

/*-----------RESET STYLES-------------*/
*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

a,p
  text-decoration: none

a, button, i, input
  -webkit-transition: 0.2s ease-out
  -moz-transition: 0.2s ease-out
  -o-transition: 0.2s ease-out
  transition: 0.2s ease-out

ul
  list-style: none

div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea
  padding: 0
  margin: 0
  line-height: 1em
/*--------END RESET STYLES------------*/

/*---------RESET BOOTSTRAP STYLES-----*/
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand
  margin: 0
/*-----END RESET BOOTSTRAP STYLES-----*/

/*------------WELCOME STYLES----------*/
/*------------HEADER STYLES-----------*/
.welcome
  overflow: hidden
  position: relative
  padding: 150px 0
  background: $welcome-bg
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 1689px
    height: 872px
    background: url("../../images/welcome-bg.png") no-repeat
  .navbar-inverse
    background: transparent
    border: none
    .header
      display: flex
      justify-content: flex-end
      .navbar-toggle
        display: block
        border: 1px solid transparent
        margin-top: 20px
        &:hover, &:focus
          background: none
          border: 1px solid $white-color
  h1
    text-align: center
  .arrow
    &::before
      content: ''
      position: absolute
      bottom: 20px
      right: 50%
      margin-right: -9px
      width: 19px
      height: 32px
      background: url("../../images/arrow-down.png") no-repeat

  .navbar-fixed-top
    top: 75px
    z-index: 99
/*---------END HEADER STYLES----------*/
.jumbotron
  margin-bottom: 0
  padding: 35px 0 0 0
  background: transparent
  h2
    max-width: 800px
    margin: 0 auto
    padding-bottom: 30px
    text-align: center
    font: 900 50px 'Lato', sans-serif
    text-transform: uppercase
    color: $white-color
  p
    max-width: 765px
    margin: 0 auto
    padding-bottom: 60px
    font-family: 'Lato', sans-serif
    font-size: 16px
    font-weight: 300
    line-height: 35px
    text-transform: uppercase
    color: $white-color
/*---------END WELCOME STYLES---------*/

/*-----BUTTON, PAGE-HEADER STYLES-----*/
.button
  text-align: center
  .btn-lg
    padding: 12px 50px
    font: 700 16px 'Lato', sans-serif
    text-transform: uppercase
    border: none
    border-radius: 50px
    color: $welcome-bg
    background: $white-color
    &:hover
      background: transparent
      color: $white-color
  .hvr-float-shadow:before
    background: radial-gradient(ellipse at center, $white-color 0%, rgba(0, 0, 0, 0) 80%)

.page-header
  margin: 0
  text-align: center
  border: none
  h3
    margin-bottom: 60px
    font: 300 50px 'Lato', sans-serif
    color: $blue-color
/*--END BUTTON, PAGE-HEADER STYLES----*/

/*-----------ABOUT-ME STYLES----------*/
.about-me
  padding: 90px 0
  p
    margin: 0 auto
    max-width: 1040px
    font-family: 'Lato', sans-serif
    font-size: 16px
    font-weight: 400
    line-height: 35px
    color: $dark-grey
/*---------END ABOUT-ME STYLES--------*/

/*------------EXPERT STYLES-----------*/
.expert
  padding: 80px 0 20px 0
  background: $expert-bg
  .expert-list
    text-align: center
    li
      margin-bottom: 60px
      padding: 0 15px
      h4
        margin-bottom: 30px
        padding-top: 50px
        font: 700 23px 'Lato', sans-serif
        text-transform: uppercase
        color: $blue-color
      p
        font-family: 'Lato', sans-serif
        font-size: 15px
        font-weight: 400
        line-height: 35px
        color: $dark-grey

.expert-list
  li
    .for-border
      position: relative
      margin: 0 auto
      width: 142px
      height: 142px
      border: 1px solid $dark-grey
      border-radius: 50%
    .mobile
      &::before
        content: ''
        position: absolute
        top: 50%
        margin-top: -33px
        right: 50%
        margin-right: -22px
        width: 45px
        height: 66px
        background: url("../../images/mobile-icon.png") no-repeat
    .web-design
      &::before
        content: ''
        position: absolute
        top: 50%
        margin-top: -29px
        right: 50%
        margin-right: -36px
        width: 72px
        height: 58px
        background: url("../../images/design-icon.png") no-repeat
    .development
      &::before
        content: ''
        position: absolute
        top: 50%
        margin-top: -33px
        right: 50%
        margin-right: -29px
        width: 58px
        height: 66px
        background: url("../../images/development-icon.png") no-repeat
    .product
      &::before
        content: ''
        position: absolute
        top: 50%
        margin-top: -33px
        right: 50%
        margin-right: -35px
        width: 71px
        height: 67px
        background: url("../../images/product-icon.png") no-repeat
    .ux-ui
      &::before
        content: ''
        position: absolute
        top: 50%
        margin-top: -31px
        right: 50%
        margin-right: -31px
        width: 63px
        height: 63px
        background: url("../../images/ux-icon.png") no-repeat
    .animations
      &::before
        content: ''
        position: absolute
        top: 50%
        margin-top: -32px
        right: 50%
        margin-right: -39px
        width: 78px
        height: 65px
        background: url("../../images/animation-icon.png") no-repeat
/*---------END EXPERT STYLES----------*/

/*---------LATEST-WORKS STYLES--------*/
.latest-works
  padding: 90px 0
  .works-list
    li
      margin-bottom: 30px
      .img-wrap
        padding: 30px 15px 0 15px
        background: $works-bg
      .odds
        height: 271px
        padding-top: 50px
/*------END LATEST-WORKS STYLE-------*/

/*----------CLIENTS STYLES-----------*/
.clients
  padding: 80px 0
  background: $expert-bg
  li
    margin-bottom: 30px
/*-------END CLIENTS STYLES----------*/

/*--------COOPERATION STYLES---------*/
.cooperation
  overflow: hidden
  position: relative
  padding: 80px 0
  background: $welcome-bg
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0%
    width: 1567px
    height: 247px
    background: url("../../images/cooperation-bg.png") no-repeat
  p
    font: 300 50px 'Lato', sans-serif
    color: $white-color
    span
      font-weight: 700
/*------END COOPERATION STYLES--------*/

/*----------AGREEMENT STYLES----------*/
.agreement
  position: fixed
  top: 0
  left: 0
  right: 0
  padding: 20px 0
  width: 100%
  background: $accept-color
  p
    font: 400 14px 'Lato', sans-serif
    color: $white-color
  .button
    .btn-lg
      padding: 10px 40px
      font: 700 12px 'Lato', sans-serif
      text-transform: none
/*-------END AGREEMENT STYLES----------*/

/*------------MODAL STYLES-------------*/

.media-list
  margin-top: 50px
  padding-bottom: 50px
  li
    position: relative
    margin-right: 20px
    &:last-child
      margin-right: 0
    a
      width: 55px
      height: 55px
      border-radius: 50%
      background: $light-grey

.media-list
  .facebook
    a
      &::before
        content: ''
        position: absolute
        top: 50%
        margin-top: -15px
        left: 50%
        margin-left: -7px
        width: 14px
        height: 30px
        background: url("../../images/facebook-icon.png") no-repeat
      &:hover
        background: $social-fasebook
  .twitter
    a
      &::before
        content: ''
        position: absolute
        top: 50%
        margin-top: -12px
        left: 50%
        margin-left: -15px
        width: 31px
        height: 24px
        background: url("../../images/twitter-icon.png") no-repeat
      &:hover
        background: $social-twitter
  .social
    a
      &::before
        content: ''
        position: absolute
        top: 50%
        margin-top: -13px
        left: 50%
        margin-left: -13px
        width: 26px
        height: 26px
        background: url("../../images/social-icon.png") no-repeat
      &:hover
        background: $social-bg
  .be
    a
      &::before
        content: ''
        position: absolute
        top: 50%
        margin-top: -11px
        left: 50%
        margin-left: -15px
        width: 30px
        height: 21px
        background: url("../../images/be-icon.png") no-repeat
      &:hover
        background: $social-be

.fade
  opacity: 1
  .modal-dialog
    width: 1170px
    margin: 90px auto
    .modal-body
      .nav-list
        position: relative
        li
          margin-bottom: 50px
          a
            font: 300 50px 'Lato', sans-serif
            text-decoration: none
            color: $light-grey
            &:hover
              color: $welcome-bg
        &::before
          content: ''
          position: absolute
          bottom: 0
          right: 50%
          margin-right: -160px
          width: 330px
          height: 2px
          background: $light-grey
    .modal-header
      border: none
      .close
        padding-right: 15px
        font-size: 40px
        font-weight: 100
        outline: none
    .modal-footer
      border-top: none
/*---------END MODAL STYLES-----------*/


@import media1200
@import media992
@import media768
@import media320
